@model PingPong7.Models.Zawodnik

@{
    ViewBag.Title = "Details";
}


<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Druzyna")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wygrane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wygrane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Przegrane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przegrane)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
